@model IEnumerable<MagicVilla_Web.Models.VillaDto>
@{
    ViewData["Title"] = "IndexVilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-4 border">
   <div class="row pb-2">
       <div class="col">
           <h1 class="text-primary">Lista de Villas</h1>
       </div>
       <div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Agregar Villa</a>
       </div>
   </div>

  <table class="table">
    <thead>
        <th>Nombre</th>
        <th>Ocupantes</th>
        <th>Tarifa</th>
        <th></th>
      </thead>
   <tbody>
       @foreach(var item in Model)
       {
           <tr>
               <td>@item.Nombre</td>
               <td>@item.Ocupantes</td>
               <td>@item.Tarifa.ToString("c")</td>
               <td>
                        <a asp-controller="Villa" asp-action="ActualizarVilla" asp-route-villaId="@item.Id" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Editar</a>
                        <a asp-controller="Villa" asp-action="RemoverVilla" asp-route-villaId="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i>Eliminar</a>
               </td>
           </tr>
       }
   </tbody>
</table>
</div>

